body {
  margin: 0;
  background-image: url(./bg.jpg);
  background-size: cover;
}

#header {
  display: flex;
  justify-content: center;
  background-color: black;
  opacity: 60%;
  color: white;
}

#header #logo {
  width: 48px;
  height: 48px;
}