body {
  margin: 0;
  background-image: url(./bg.jpg);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #04030f;
  opacity: 60%;
  color: white;
}

#header #logo {
  width: 48px;
  height: 48px;
  padding: 8px;
}

#main_section {
  margin: 1em 3em;
}

nav {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#main_section {
  background-color: #e7e393;
  border: 1px #854d27 solid;
}

nav div {
  flex: 1;
  padding: 6px;
  border: 1px #854d27 solid;
  text-align: center;
  background-color: #f4c95d;
}
.active {
  background-color: #dd7230;
  color: white;
}