body {
  margin: 0;
  background-image: url(./bg.jpg);
  background-size: auto 100vh;
  background-repeat: no-repeat;
  background-position-x: center;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 60%;
  color: white;
}

#header #logo {
  width: 48px;
  height: 48px;
  padding: 8px;
}